exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "axis", "box", "layout", "lines",
           "par", "plot", "text", "title")
importFrom("stats", "dlnorm", "dnorm", "optim", "pnorm", "qnorm")
